body {
    margin: 0;
}

@font-face {
    font-family: 'chomsky';
    src: url('assets/fonts/chomsky.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'cheltenham';
    src: url('assets/fonts/cheltenham.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.logo {
    margin-top: 30px;
    text-align: center;
    font-family: 'chomsky';
    font-size: 30px;
    padding-bottom: 5px;
}

.line {
    height: 2.5px;
    width: 100%;
    background: #e3e3e3;
}

.title {
    margin-top: 100px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: 'cheltenham';
    font-size: 40px;
}

img {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.date {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: left;
    font-family: 'cheltenham';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.article {
    margin-top: 60px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    padding-bottom: 50px;
}

.article ul {
    margin-top: -15px;
}

@media only screen
and (min-device-width : 375px)
and (orientation : portrait) {
    .article {
        margin-top: 60px;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-family: "Times New Roman", Times, serif;
        font-size: 50px;
        padding-bottom: 50px;
    }

    .logo {
        margin-top: 30px;
        text-align: center;
        font-family: 'chomsky';
        font-size: 50px;
    }
    
    .line {
        height: 4.5px;
        width: 100%;
        background: #e3e3e3;
    }

    img {
        width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .title {
        margin-top: 120px;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-family: 'cheltenham';
        font-size: 60px;
    }

    .date {
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 700px;
        text-align: left;
        font-family: 'cheltenham';
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    body {
        background-color: aqua;
    }
}